{% extends 'layouts/base.html' %}

{% block title %} AES  | Login {% endblock title%}

{% block content %}
  <div id="lg">
    <form action="/login/" method="post">
     {% csrf_token %}
     {{ form.name_of_field.errors }}
     <div class="form_control">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">
          {{form.email.label}}:
        </label>
        {{ form.email }}
     </div>
      <!-- <input type="text" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/> -->
      <div class="form_control">
        {% if request.session.error %}
         {{ request.session.error }}
        {% endif %}
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">
          {{form.password.label}}:
        </label>
        {{ form.password }}
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}

{% block js %}

  
{% endblock  %}