{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title%}</title>
        {% block metas %}{% endblock metas %}
        {% block css %}{% endblock css %}
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> 
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        {% block js %}{% endblock js %}
    </body>
</html>